/* color variables */
:root {
   /* body background */
   --bg_one: #BBDBBE;
   --bg_two:#DEEBDD;
   /* content background */
   --content_bg:#89D4CF;
   /* nav backgrounds */
   --nav_bg: #9bf2ec;
   --nav_bg_sel: #89D4CF;
   --nav_bg_hov: #93e6df;
   /* selectable element background */
   --e_bg: #DEEBDD;
   --e_bg_hov: #c4d0c3;
   /* generic button background */
   --b_bg: #9bf2ec;
   --b_bg_hov: #93e6df;
   --b_bg_a:#89D4CF;
}


/* General */

.button {
   background-color:var(--b_bg);
   border-bottom: 1px solid black;
   margin: 2px 5px;
   padding: 2px 10px;
   border-radius: 2px;
   text-align: center;

   display: flex;
   justify-content: center;
   align-items: center;
}

.button:hover {
   transition: 0.3s ease;
   background-color: var(--b_bg_hov);
   cursor: pointer;
}

.button:active {
   background-color: var(--b_bg_a);
   border: none;
}

.button_active {
   background-color: var(--b_bg_a);
   border: none;
}

/* navbar */
.navbar{
   display: flex;
   flex-direction: row;
   gap: 10px;
   align-items: flex-start;
}

.navbar > .navbutton {
   padding: 2px 5px;
   background: var(--nav_bg);
   translate: 10px 10px;
}

.navbar > :not(.nav_active).navbutton:hover {
   background: var(--nav_bg_hov);
}

.navbar > .nav_active {
   background:var(--nav_bg_sel);
}

#main_navbar > .navbutton {
   padding: 10px 5px;
}

#main_navbar > .navbutton.hover {
   background: var(--nav_bg_hov);
}

/* tile selectables */
.hotbar-e {
   padding: 2px 5px;
   display: inline-block;
   border: 2px solid;
   border-color: black;
   margin: 2px;
   border-radius: 5px;
   background-color: var(--e_bg);
}

.hotbar-e-selected {
   border-color: rgb(160, 64, 28);
}

.hotbar-e:hover {
   transition: 0.5s;
   background-color: var(--e_bg_hov);
}


/* card selectables */
.card-inv-e {
   width:100px;
   height:120px;
   display:inline-flex;
   justify-content: center;
   border-style: solid;
   margin: 1px;
   background-color: var(--e_bg);
}

.card-inv-e:hover {
   translate: 0px -5px;
   transition: 0.3s ease-out;
   border-color: rgb(150, 110, 96);
   background-color: var(--e_bg_hov);
}


/* tool tips */

.tooltip {
   position: relative;
}
 
.tooltip .tooltiptext {
   visibility: hidden;
   width: 120px;

   background-color: rgba(50, 50, 50, 0.90);
   color: #fff;
   text-align: center;
   padding: 5px 0;
   border-radius: 6px; 
  
   position: absolute;
   left: 50%;
   transform: translate(-50%, 0);
   top: calc(100% + 3px);
   z-index: 1;
}
 
.tooltip:hover .tooltiptext {
   visibility: visible;
}

#tooltipfr {
   border-style: solid;
}