
.shop-e{
   display: inline-block;
   border-style: solid;
   user-select: none;

   margin: 2px;
   width: 120px;
   transition: 0.5s;
}

.shop-e:active {
   background-color: blanchedalmond;
   transition: 0.1s;
}